*{
    margin: 0;
    padding: 0;
    font-family:"Open Sans", sans-serif;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    margin: auto;
}
/* shared styles */
.orange-color{
    color: #FD6E0A;
}
.btn{
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 36px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
.about-title{
    text-align: center;
    width: 827px;
    margin: 0 auto;
}
.about-title h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}
.about-title p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
    line-height: 30px;
    
}


/* normal styles */
#header {
    background: #FFF8F3;
    background: url(../image/developer.png), url(../image/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    /* background-size: ; */

}
#header nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header nav h1{
    font-size: 45px;
    font-weight: bolder;
    color: #181818;
}

.menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#about-info{
    margin: 40px 38px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
}
.info-box{
    max-width:585px;
}
.info-box h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    
}
.info-box h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.info-box p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 20px;
}
.btn-container{
    display: flex;
    gap: 30px;
}
.btn-container .btn2{
    background: white;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
}
#about-info .image{
    max-width: 585px;
}
#about-info .image img{
    vertical-align: middle;
    max-width: 100%;
}



/* about section */
.about-section{
    padding: 130px 230px;

}

.bg-box{
    text-align: center;
    background: #FFF8F3;
    padding: 131px 156px;
    border-radius: 10px;

}
.about h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}
.about p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
    line-height: 30px;
}

.small-info-box{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.samall-info p{
    margin-bottom: 0;
    color: #757575;
    font-size: 20px;
    
}
.samall-info h3{
    margin-bottom: 0;
    color: #474747;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    
}



/* skills section */
.skill-parent{
    /* background: #E8E8E8; */
    margin-top: 40px;
}
.skills-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    
}
.skill{
    max-width: 267px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 #00000038;

}
.skill img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill h2 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.skill p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}


/* resume section */

#resume{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}


.resume-container .resume-title{
    text-align: center;

}
.resume-container .resume-title h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 113px;

}

.resume-container .resume-box{
    display: flex;
    gap: 24px;
}

.resume-container .resume-box h2{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.resume-container .resume-box .resume-card{
    max-width: 511px;

}
.resume-container .resume-box .resume-card h3{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;

}
.resume-container .resume-box .resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;

}
.resume-container .resume-box .resume-card p{
    line-height: 28px;
    color: #757575;
    margin-bottom: 20px;

}
.resume-container .resume-box hr{
    margin-bottom: 30px;
    color: #D1D1D1;
}


.resume-container .resume-btn{
    text-align: center;
    margin-top: 50px;
}


footer{
    background: #FFF8F3;
    padding: 130px 0;
    margin-top: 113px;
}

.footer-container{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    gap: 117px;
}


.footer-container .footer-info{
    max-width: 562px;
}
.footer-container .footer-info h3{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .footer-info p{
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}
.footer-container .footer-info .icons a{
    margin-right: 24px;
}
.footer-container .footer-info .icons a img{
    max-width: 24px;
}
.footer-container .form h3{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 28px;
}
.footer-container .form input[type="text"],
 .footer-container .form input[type="email"],
 .footer-container .form textarea{
    width: 461px;
    padding: 18px 30px;
    line-height: 28px;
    color: #757575;
    border-style: none;
    margin-bottom: 24px;
    border-radius: 5px;
}